<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
</head>
<body>
    <style>
        *{
    box-sizing: border-box;

}
body{
    background-color: #e0f6f6;
    font-family: 'montserrat';
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
h1{
    position: absolute;
    top: 10px;
}

img{
    max-width: 100%;
    background-position: 100px;
}
.card{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    cursor: pointer;
    margin:10px
}
.card-header{
        height: 200px;
}
.card-header img{
    object-fit:cover;
    height: 100%;
    width: 100%;
}
.card-content{
    background-color: #fff;
    padding: 30px;
}
.card-title{
    
    margin: 0;
}
.card-e{
    color: #777;
    margin: 10px 0 20px;
}
.card:hover{
    transform: scale(1.09);
    color: #777;
}

    </style>
    <h1>Know About Our Developers</h1>
    <!--card 1 start-->
    <div class="card">
        <div class="card-header" id="header">
            <img style="width: 350px;" src="rahilPhoto.jpeg" alt="no img"/>
        </div>

        <div class="card-content">
            <div class="card-title">
                <h3 class="card-title animated-bg animated-bg-text" id="title">Developer.</h3>
                    <p class="card-e" id="e">A Student and A Learning Web Developer know more about in Portfolio.
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>

                    </p>
                    <div class="prog-info">
                        <strong id="name">Saiyed Rahil</strong><br>
                        <small id="date">August 28,2023 </small><br>
                        <a href="https://github.com/rahilsaiyed1711">Know More</a>
                    </div>
            </div>

        </div>
    </div>
    <!--card 1 end-->


<!--card 2 start-->
<div class="card">
    <div class="card-header" id="header">
        <img src="divi.jpeg" alt="no img"/>
    </div>

    <div class="card-content">
        <div class="card-title">
            <h3 class="card-title animated-bg animated-bg-text" id="title">Developer.</h3>
                <p class="card-e" id="e">A Student and A Learning Web Developer know more about in Portfolio.
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>

                </p>
                <div class="prog-info">
                    <strong id="name">Suthar Divy</strong><br>
                    <small id="date">August 28,2023 </small><br>
                    <a href="https://github.com/DivySuthar1">Know More</a>
                </div>
        </div>

    </div>
</div>
 <!--card 2 end-->


 <!--card 3 start-->
 <div class="card">
    <div class="card-header" id="header">
        <img src="darshan.jpeg" alt="no img"/>
    </div>

    <div class="card-content">
        <div class="card-title">
            <h3 class="card-title animated-bg animated-bg-text" id="title">Developer.</h3>
                <p class="card-e" id="e">A Student and A Learning Web Developer know more about in Portfolio.
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>

                </p>
                <div class="prog-info">
                    <strong id="name">Prajapati Darshan</strong><br>
                    <small id="date">August 28,2023 </small><br>
                    <a href="https://github.com/darshanprajapati0502">Know More</a>
                </div>
        </div>

    </div>
</div>

<!--card 3 end-->


<!--card 4 start-->
<div class="card">
    <div class="card-header" id="header">
        <img src="urvil.jpeg" alt="no img"/>
    </div>

    <div class="card-content">
        <div class="card-title">
            <h3 class="card-title animated-bg animated-bg-text" id="title">Developer.</h3>
                <p class="card-e" id="e">A Student and A Learning Web Developer know more about in Portfolio.
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>

                </p>
                <div class="prog-info">
                    <strong id="name">Urvil patel</strong><br>
                    <small id="date">August 28,2023 </small><br>
                    <a href="https://github.com/Urvil1510">Know More</a>
                </div>
        </div>

    </div>
</div>


<!--card 4 end-->
</body>
</html>